* {
	border: 1px dotted blue;
}

.cardContainer {
}

.backgroundStyle img {
	position: relative;
	border-radius: 5vw;
	border: 3px solid grey;
}

.clifeStyle {
	position: absolute;
}

.nameStyle {
	position: absolute;
	font-size: 130%;
	font-weight: bold;
	color: black;
}

.starsStyle {
}

.statsStyle {
	background-color: black;
	opacity: 0.6;
	border: 2px solid white;
	border-radius: 1vw;
	text-align: center;
	color: bisque;
}

.statsStyle table {
	color: bisque;
}
