.backgroundStyle {
	position: relative;
	z-index: -2;
}

.nlstrsts {
	position: absolute;
}

.clifeStyle {
	z-index: -1;
	margin-top: -135%;
}

.nameStyle {
	position: absolute;
	margin-top: -9%;
	margin-left: 5%;
	z-index: 3;
	font-size: 130%;
	font-weight: bold;
	color: black;
}

.starsStyle {
	margin-top: -9.5%;
	margin-right: 5%;
}

.statsStyle {
	margin-top: 70%;
	background-color: #bbb;
	opacity: 0.9;
	border: 2px solid black;
	border-radius: 1vw;
	text-align: center;
}
